
.desk2{
    position: absolute;
    width: 922px;
    height: 663px;
    left: 0;
    top: 0;
    margin: 6.6vh 16.61vw;
  
    .header{
      text-align: center;
    }
    .username{
      width: 530px;
      margin: 0 auto;
      margin-bottom: 32px;
        &__data,&__time,&__btn{
          display: inline-block;
        }    
        &__data{
          margin-right: 24px;
          input{
            padding: 0 16px;
            width: 30.1rem;
          }
        }
        &__time{
          margin-right: 10px;
          input{
            text-align: center;
            width: 90px;
            padding: 0 20px;
          }
        }
        &__btn{
          margin-left: -2.5rem;
          .inc,.dec{
            margin-right: 10px;
          }
          
          a{
            height: 32px;
            padding: 0 10px;
            text-decoration: none;
            color: #828282;
            border: 1px solid rgba(54, 35, 129, 0.2);
            border-radius: 4px;
            font-size: 22px;
          }
        }
      label{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
      }
      input{
        display: block;
        height: 48px;
        border: 1px solid rgba(54, 35, 129, 0.2);
        border-radius: 4px;

      } 
    }
  
    .language{
      position:absolute;
      margin-bottom: 32px;
      &__title{
        font-weight: 600;
        font-size: 16px;
  
        position: relative;
        left: 160px;
      }
      &__opts{
        width: 520px;
        height: 175px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap column;
        color: #828282;

        background: #FCFBFD;
        border: 1px solid #EEEAF9;
        border-radius: 8px;
        
        position: relative;
        left: 160px;
  
        padding-left:25px;
        padding-right: 25px;
        div{
          input{
            margin-right: 13px;
            display: inline-block;
          }
          margin: 18px 107px 0 0;
        }
      }
    }
  
    .pentab{
      position:absolute;
  
      left: 200px;
      top: 422px;
  
      h4{
        font-size: 16px;
        line-height: 140%;
        width: 357px;
        height: 44px;
        display: inline-block;
      }
      .btn-outline{
        color: #8759F2;
        border: 1px solid #8759F2;
        border-radius: 4px;
        background-color:  #FFFFFF;
        margin-left: 16px;
        width: 70px;
        height: 40px;
   
        transition: all 0.2s;
        box-shadow: 0 1rem 4rem rgba(black,0.2);
        &:hover{
          transform: scale(1.05) translateY(-5px);
          box-shadow: 0 2rem 1rem rgba(black,0.2);
        }
        &:active{
          transform: translateY(0);
          box-shadow: 0 1rem 1.5rem rgba(black,0.2);
        }
      
      }
    }
  
    .footer{
      position: absolute;
      bottom: 52px;
      left: 66px;
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-between;
      align-items: baseline;
      width:777px;
      .text{
        text-decoration: none;
        color: #8759F2;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .next{
      width: 100px;
      height: 41px;  
      padding: 1.1rem 3.5rem;
      margin:0 0 0 24px ;
    }
    }
  }
  