  .levelbody{
    background-color: #F8F6FA;
    position:absolute;
    right: 0;
    top: 62px;
    border-left: 1px solid #DFE1E6;
    max-width: 1306px;
    width: 124rem;
    
    max-height: 202vh;
    min-height: 190vh;
    padding: 3.6rem 0 4rem 0;


    .welcomeheading{
      font-weight: 600;
      font-size: 2.8rem;
      color: #25252D;
      margin-left: 5rem;
    }

    .mainbody{
      display: flex;
      height: 100%;
      flex-flow: nowrap row;
      justify-content: space-evenly;

      .col{
        &__primary{

          background-color: #FFFFFF;
          
          box-shadow: 0px 24px 60px -30px rgba(0, 0, 0, 0.1);
          border: 1px dashed palegreen;
          border-radius: 16px;
          padding: 2.4rem;
          margin: 1.2rem;
        }

        &__left{
          width: 77.4rem;
          height:auto;
          display: flex;
          flex-flow: nowrap column;
          justify-content: space-between;

          &--box1{
            max-width: 100%;
            height: 160px;
            
            display: flex;
            flex-flow: nowrap row;
            justify-content: flex-start;

            .box1{
              &__left{
                width: 43.9rem;
                height: 160px;
                display: inline-block;

                &--text{

                  h3{
                    font-size: 2.2rem;font-weight: 700;
                    margin-top: 1.6rem;
                    margin-bottom: 1.2rem;
                  }
                  h4{
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #9999AD;
                  }
                  mark{
                    color:  rgb(245, 61, 107);
                    background-color: #FFFFFF;
                  }
                }
              }
              &__right{
                width: 15.2rem;

                height: 160px;
                display: inline-block;

                &--text{

                  h3{
                    font-size: 1.4rem;font-weight: normal;
                    color:  #9999AD;;
                    margin-top: 16px;
                    margin-bottom: 12px;
                  }
                  h4{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2.2rem;
                  }
                  strong{
                    color: #00BA88;
                    text-decoration: none;
                  }
               }
              }
            }
          }

          &--box2{
            width: 75rem;
            height: 612px;

            .box2{
              &__header{
                display: block;

                &--bottom{
                  font-weight: normal;
                  color: #6E6E86;
                  h4{display: inline-block; font-size: 16px;}
                  h3{color: #8759F2;float: right;font-size: 16px;}
                }
                margin-bottom: 16px;
              }
              &__date{
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                color: #6E6E86;
              }
              &__assignment{
                display: flex;
                flex-flow: nowrap column;
                align-items: flex-start;

                .assignment{
                  display: flex;
                  flex-flow: nowrap row;
                  justify-content: space-between;
                  width: 100%;
                  height: 73px;
                  border-radius: 4px;


                  &:hover{
                    background-color: #F7F7F8;

                    .assignment__button{
                      color: #FFFFFF;
                      background-color: #8759F2;
                    }
                    .exam{
                      background-color: #F7F7F8;
                    }
                  }
                  &__name{
                    display: flex;
                    flex-flow: nowrap row;

                    margin: 1.7rem;
                    &--logo{
                      width: 40px;
                      height: 40px;
                      background: #FFE8F0;
                      border-radius:100px;

                      img{
                        transform: scale(0.56);
                        margin: 3px;
                      }
                    }
                    &--topic{
                      margin-left: 1.2rem;
                      h5{
                        font-weight: 600;
                        font-size: 1.6rem;
                        color: #25252D;
                      }
                      h4{
                        font-size: 1.4rem;
                        line-height: 17px;
                        font-weight: 400;
                        color: #25252D;
                        mark{
                          color: #9DA7BD;
                          background-color: #FFFFFF;
                        }
                      }
                    }
                  }
                  &__money{
                    margin: 1.8rem 0;
                    h4{
                      font-size: 1.4rem;
                      color: #091E42;
                    }
                    h5{
                      font-size: 1.4rem;
                      color: #97A0AF;
                    }
                  }
                  &__status{

                    height: 2.8rem;

                    border-radius: 50px;  

                    display: flex;
                    flex-flow: nowrap row;
                    align-items: center;
                    justify-content: space-evenly;
                    margin: 2.1rem 0 2.4rem 0;

                    &--assigned{
                      background-color: #DBF3ED;width: 8.6rem;
                    }
                    &--rejected{
                      background-color: rgba(245, 61, 107, 0.2);width: 11.3rem;
                    }
                    &--completed{background-color: rgba(250, 181, 52, 0.25);width: 12.1rem;}
                    img{
                      display: inline-block;
                      padding: 0.4rem;
                    }
                    h6{
                      display: inline-block;
                      font-weight: 600;
                      font-size: 1.2rem;
                    }
                  }
                  &__button{

                    padding: .7rem 3.1rem;
                    margin: 1.6rem 1.6rem 1.6rem 0;
                    font-size: 16px;
                    text-decoration: none;
                    height: 40px;
                    font-weight: 600;
                    background-color: #FFFFFF;
                    border-radius: 8px;
                    color: #8759F2;

                 }
                }
              }
            }
          }

          &--box3{
            width: 75rem;
            height: 515px;

            .box3{
              &__body{
                height: 100%;
                display: flex;
                flex-flow: nowrap column;
                align-items: flex-start;
                
                .collapsed{
                  width: 100%;
                  height: 56px;
                  border-top: 1px solid #DFE1E6;
                  .b3__item--header{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;  
                      
                    h4{font-size: 1.6rem;
                      color: #262626;
                                          
                      margin: 2rem 0 1.7rem 0;
                      }
                      img{
                        transform: scale(0.5);
                      }
                  }
                }
                &--items{
                  border-top: 1px solid #DFE1E6;
                  background-color: rgba(#F4F5F7,0.5);
                  margin: 2.4rem 0;
                  .b3__item{
                    width: 16.2rem;
                    height: auto;
      
                    padding:.7rem;
                    background: #FFFFFF;
                    border: 1px solid rgba(66, 82, 110, 0.15);
                    box-sizing: border-box;
                    border-radius: 8px;
                    margin-right: 1.2rem;

                    &--header{
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      h4{font-size: 16px;
                      color: #262626;
                                          
                      margin: 2rem 0 1.7rem 0;
                      }
                      img{
                        transform: scale(0.5);
                      }
                    }
                    &--body{
                      display: flex;
                      flex-flow: wrap row;
                      justify-content: flex-start;

                      img{
                        width: 14.6rem;
                      }
  
                    }                  
                    h6{
                      margin-top: 12px;
                      font-size: 1.4rem;
                      line-height: 130%;
                      color: #6E6E86;
  
        
                    }
                  }
                }
  
              }
            }
           
          }
       }

/*-----------------------------------------------------------------------------------------BOX 2 --------------------------------------------------*4*/       
        &__right{
          width: 32rem;

          &--BOX1{
            width: 32rem;
            height: 7.5rem;

            display: flex;
            flex-wrap: nowrap row;
            justify-content: space-between;
            align-items: center;
            &---left{
              display: flex;
              justify-content: space-between;
              width: 9.5rem;
            }
            &---right{
              font-size: 17px;
              color: #5E6C84;     
              margin-top: 4px;             
            }
          }
          &--BOX2{
            width: 32rem;
            height: 43rem;
          }
          &--BOX3{
            width: 32rem;
            height: auto;

            display: flex;
            flex-flow: nowrap column;
            justify-content: space-between;
            
            .leaderboard{
              display: flex;
              flex-flow: nowrap column;
              align-items: flex-start;

              .user{
                background: #F7F5FC;
                border-radius: 0.4rem;
              }
              &--item{
                display: flex;
                flex-flow: nowrap row;
                justify-content: space-between;
                align-items: center;
                padding: 1.3rem 0;

                border-bottom: 1px solid #E6E6EA;
                width: 100%;

                &---Nameimg{
                  display: flex;
                  justify-content: space-evenly;
                  width: 38.45%;
                }
                h5{
                  font-size: 1.4rem;
                  color: #262626;
                }
                .leader{
                  &--rank{
                    width: 1.2rem;
                    height: 12px;
                    h5{
                      color: #AEAEAE;
                    }
                  }
                  &--img{
                    width: 2.4rem;
                    height: 2.4rem;
                  }
                }
              }
              &--btn{
                width: 28.8rem;
                height: 40px;
                padding: 1.2rem 26%;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 100%;
                text-transform: capitalize;
                margin: 1.2rem 0;
              }
            }
          }
          &--BOX4{
            width: 32rem;
            height: auto;

            display: flex;
            flex-direction: column;

            img{
              transform: scale(0.56);
            }

            .div__header{
              margin-bottom: 20px;
            }
            .contact{
              display: block;
              &__phone,&__mail{
                display: flex;
                flex-flow: nowrap row;
                justify-content: flex-start;
                margin-bottom: 10px;
                img{
                  margin-right: 10px;
                }

                h5{
                  display: block;
                }
              }
              &__followus{
                  h5{color: #25252D;
                  font-weight:600;
                }
                img:first-child{
                  filter: grayscale(10);
                }
                img:first-child{
                  &:hover{
                    filter: grayscale(0);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
