.btn_purple{
  text-decoration: none;
  background-color: #8759F2;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.6rem;

}
.LogIn{
    top: 3.5rem;
    left: 26.1rem;
    position:absolute;

    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;

    &__img{
      width: 44.3rem;
      border-radius: 8px;
  
      margin-right: 4rem;
    
  
    }
      
    //end of .logo
  
    .company_name h2{
      position: relative;
      left: 50px;
      top: 0px;
  
      font-style: normal;
      font-weight: bold;
      font-size: 2.2rem;
      margin-bottom: 35px;
    }
    .register{
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
    }
  
    .Form{
      width: 28rem;
      position: absolute;
  
      &__divs{
        margin-bottom: 2rem;
      
        &--label{
          display: block;
          font-size: 1.2rem;
          color: #25252D;
          font-style: normal;
          font-weight: 400;
        }
        &--input{
          display: block;
          width: 28rem;
          height: 48px;
          border: 1px solid rgba(54, 35, 129, 0.2);
          border-radius: 4px;
          padding-left:  10px;

          font-size: 1.6rem;
        }
      }
    }
  }//end of .LogIn
  .btns{
    &__b1{
      margin-bottom: 4rem;
      display: block;
      a{

        width:10rem;  
        height :4rem;
        padding: 1.1rem;
        margin-right: 1.9rem;
      }
    }//btn__b1
    &__b2{
      display: block;
  
      h4{
        display: inline-block;
        margin: 0 5px;
        font-weight: 400;
        font-size: 1.6rem;
        color: #828282;
      
      }
      a{
        display: inline-block;
        margin: 0 5px;
        text-decoration: none;
        padding:10px;
        color: #828282;
        border-radius: 100px;
        background-color: #cad5da;
      }
    }

  }
  .login{
    display: inline-block;
    position: relative;
    top: 5px;
  
    h4{
      color:#828282;
      font-family: 400;
      font-size: 1.4rem;
      margin-bottom: -5px;
    }
    a{
      font-weight: 600;
      font-size: 1.4rem;
      text-decoration: none;
      color: #8759F2;
    }
  
  }