@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
html,body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova';
    font-size: 00.6944444vw;
    cursor: url('./cursor.png'),auto;
  }
  
  .bg{
     background-color: #E5E5E5;
     height: 100vh;
     width: 100vw;
  }
  
 
  .main-card{
    border-radius: 1.6rem;
    margin: auto;
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0px 24px 60px rgba(36, 20, 72, 0.1);
    padding: 40px;
    width:   84.3rem;
    height:  653px;
  }
  .btn__click{
    transition: all 0.2s;
    box-shadow: 0 1rem 4rem rgba(black,0.2);
    &:hover{
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 2rem 2rem rgba(black,0.2);
    }
    &:active{
      transform: translateY(0);
      box-shadow: 0 1rem 4rem rgba(black,0.2);
    }
  }
  .btn__whitepurple{
    background: #FFFFFF;
    border: 1px solid #8759F2;
    text-decoration: none;
    color:#8759F2;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .logo{
    position: absolute;
  
    &__semicircle{
      display: inline-block;
      width: 40px;
      height: 19.31px;
      border-bottom-left-radius: 110px;
      border-bottom-right-radius: 110px;
      border: 8px solid #8759F2;
      border-top: 0;  
  
      position: relative;
      top: 8px;
      left: 0;
    }
  
    &__circle{
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100px;
      position: relative;
      &--y{
        background-color:#FFC300;
    left: -25px;
    top: -7px;
      }
      &--p{
        background-color:#FF3E80;
        left: -46px;
        top: 2px;
      }
    }//end of &__circle
  }

  .papercircle{
    width: 48px;
    height: 48px;
    border-radius: 100px;

    &--rd{
      background-color: #FFE8F0;
      z-index: 0;
      padding-left: 3px;
    }
    &--gr{
      background-color: rgba(#00BA88,0.25);
      padding-left: 3px;
    }
    img{
      height: 20px;
      width: 17px;
      margin: 14px 12.53px;
      transform: scale(1.35);
    }
  }

  .grpaper{
    width: 100%;
    height: 100%;

  }
  
  .div__header{
    font-size: 2.2rem;
    font-weight: bold;
    color: #25252D;
  }
  